<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emotion.api.repository.dao.rds.WechatArticleMapper">

    <resultMap id="BaseResultMap" type="com.emotion.api.repository.po.WechatArticle">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="articleId" column="article_id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,article_id,title,
        url,create_time
    </sql>

</mapper>
